<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833001095003-sntie2d56c2cllogl945qudl5oschaja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833001095003-sntie2d56c2cllogl945qudl5oschaja</string>
	<key>API_KEY</key>
	<string>AIzaSyBKUSrghEB8_zet6QYhyguQPDpvtG-e5f0</string>
	<key>GCM_SENDER_ID</key>
	<string>833001095003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>school.cesar.IOSPersistencia.FirebaseDemo4</string>
	<key>PROJECT_ID</key>
	<string>fir-demo4-d55a1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo4-d55a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833001095003:ios:b44ba6549ddc252b3fa47e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo4-d55a1.firebaseio.com</string>
</dict>
</plist>